@-webkit-keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
}
#unload_overlay {
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background-color:#ffffff;
		z-index:9999;
	display:none;
  opacity:1;
  -moz-animation   : fadein 0.1s linear;
  -webkit-animation: fadein 0.1s linear;
  animation        : fadein 0.1s linear;
}

@-webkit-keyframes fadeout {
    0% {opacity:1;}
    100% {opacity:0;}
}
@-ms-keyframes fadeout {
    0% {opacity:1;}
    100% {opacity:0;}
}
@keyframes fadeout {
    0% {opacity:1;}
    100% {opacity:0;}
}
#load_overlay {
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background-color:#ffffff;
		z-index:9999;
	display:block;
	
  opacity:0;
  -moz-animation   : fadeout 0.1s linear;
  -webkit-animation: fadeout 0.1s linear;
  -ms-animation: fadeout 0.1s linear;
  animation        : fadeout 0.1s linear;
}